doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    p Hi #{name},
    p This is just a html test.
